<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchInput" placeholder="Search by title" [(ngModel)]="employees.firstName"/>

        <div class="input-group-append">
          <button class="btn btn-outline-secondary"
            type="button" (click)="searchEmp()">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Employee List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let emp of employees | searchFilter: emp : employees.firstName ; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(emp, i)">
          {{ emp.firstName }}
        </li>
      </ul>
  
      
    </div>
    <div class="col-md-6">
      <app-update-employee
        [viewMode]="true"
        [currentEmp]="currentEmp"
      ></app-update-employee>
    </div>
  </div>