<div>
    <div *ngIf="currentEmp.firstName">
      <h4>Employee</h4>
      <div>
        
        <label><strong>First Name:</strong></label> {{ currentEmp.firstName }}
      </div>
      <div>
        <label><strong>Last Name:</strong></label>
        {{ currentEmp.lastName}}
      </div>
      <div>
        <label><strong>Email:</strong></label>
        {{ currentEmp.email }} 
      </div>
      <div>
        <label><strong>Phone:</strong></label>
        {{ currentEmp.phone }} 
      </div>
      <div>
        <label><strong>id:</strong></label>
        {{ currentEmp._id }} 
      </div>
  
      <a
        class="badge badge-warning"
        routerLink="[`/editEmp/${_id}]">
        Edit
      </a>
    </div>
  
    <!-- <div *ngIf="!currentEmp">
      <br />
      <p>Please click on a Tutorial...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentEmp.firstName" class="edit-form">
      <h4>Tutorial</h4>
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            [(ngModel)]="currentEmp.firstName"
            name="firstName"
          />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            [(ngModel)]="currentEmp.lastName"
            name="lastName"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Email:</strong></label>
          {{ currentEmp.email }}
        </div>
        <div class="form-group">
            <label><strong>phone:</strong></label>
            {{ currentEmp.phone }}
          </div>
      </form>
  
      
  
      <button class="badge badge-danger mr-2" (click)="deleteEmployee(currentEmp.email)">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="saveEmployee(currentEmp.email)">
        Update
      </button>
      
    </div>
  
    <div *ngIf="!currentEmp.email">
      <br />
      <p>Cannot access this Tutorial...</p>
    </div>
  </ng-template><div *ngIf="viewMode; else editable">
  <div *ngIf="currentEmp.email">
    <h4>Employee</h4>
    <div>
      <label><strong>firstName:</strong></label> {{ currentEmp.firstName }}
    </div>
    <div>
      <label><strong>lastName:</strong></label>
      {{ currentEmp.lastName }}
    </div>
    <div>
        <label><strong>email:</strong></label>
        {{ currentEmp.email }}
      </div>
    <div>
      <label><strong>phone:</strong></label>
      {{ currentEmp.phone}} ID is 
    </div>

    <a
      class="badge badge-warning"
      routerLink="/${_id}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentEmp">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentEmp.email" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="firstName">firstName</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="currentEmp.firstName"
          name="firstName"
        />
      </div>
      <div class="form-group">
        <label for="lastName">lastName</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="currentEmp.lastName"
          name="lastName"
        />
      </div>

      <div class="form-group">
        <label><strong>email:</strong></label>
        {{ currentEmp.email}}
      </div> -->
    <!-- </form> -->

    <!-- <button
      class="badge badge-primary mr-2"
      *ngIf="currentEmp.email"
      (click)="updateemail(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentEmp.email"
      class="badge badge-primary mr-2"
      (click)="updateemail(true)"
    >
      Publish
    </button> -->

    <button class="badge badge-danger mr-2" (click)="deleteEmployee(currentEmp)">
      Delete
    </button>
<!-- 
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button> -->
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentEmp.email">
    <br />
    <p>Cannot access this Employee...</p>
  </div>
<!-- </ng-template> -->